server:
  port: ${PORT:0}
spring:
  application:
    name: transaction
  feign:
    client:
      config:
        default:
          connectTimeout: 5000
          readTimeout: 300
          loggerLevel: FULL
  resilience4j:
    circuitbreaker:
      instances:
        default:
          sliding-window-size: 10
          failure-rate-threshold: 50
          wait-duration-in-open-state: 10s
    retry:
      instances:
        default:
          max-attempts: 3
          wait-duration: 1s
          retry-exceptions:
            - feign.RetryableException


